body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(89deg, rgb(164, 9, 9) 0%, #04c8de 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
